<div class="recipes-section">
  <!-- Barre supérieure -->
  <div class="top-bar">
    <!-- Barre de recherche -->
    <div class="search-bar">
      <i class="fa fa-search"></i> <!-- Icône de loupe -->
      <input
        type="text"
        placeholder="Rechercher une recette"
        [(ngModel)]="searchTerm"
        (input)="searchRecipes()"
      />
    </div>
    <!-- Bouton Ajouter -->
    <button class="add-button" (click)="addRecipe()">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>

  <!-- Liste des recettes -->
  <div class="recipes-list">
    <app-recipe
      *ngFor="let recipe of filteredRecipes"
      [id]="recipe.id"
      [name]="recipe.name"
      [duration]="recipe.duration"
      [servings]="recipe.nbPeople"
      [rating]="recipe.rating"
      [ingredients]="recipe.ingredients"
      [description]="recipe.description">
    </app-recipe>
  </div>
</div>
