<div class="recipes-section">
  <!-- Barre supérieure -->
  <div class="top-bar">
    <!-- Barre de recherche -->
    <div class="search-bar">
      <i class="fa fa-search"></i> <!-- Icône de loupe -->
      <input
        type="text"
        placeholder="Rechercher une recette"
        [(ngModel)]="searchTerm"
        (input)="searchRecipes()"
      />
    </div>
    <!-- Bouton Ajouter -->
    <button class="add-button" (click)="addRecipe()">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>

  <!-- Liste des recettes -->
  <div class="recipes-list">
    <ng-container *ngFor="let recipe of filteredRecipes">
        <app-recipe
          [recipe]="recipe"
          (edit)="editingRecipeId = recipe.id">
        </app-recipe>
    </ng-container>
  </div>


</div>
