<div class="recipes-section">
  <!-- Barre supérieure -->
  <div class="top-bar">
    <!-- Barre de recherche -->
    <div class="search-bar">
      <i class="fa fa-search"></i> <!-- Icône de loupe -->
      <input
        type="text"
        placeholder="Rechercher une recette"
        [(ngModel)]="searchTerm"
        (input)="searchRecipes()"
      />
    </div>
    <!-- Bouton Ajouter -->
    <button class="add-button" (click)="openNewRecipe()">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>

  <!-- Liste des recettes -->
  <div class="recipes-list">
    <div *ngIf="showNewRecipe" class="new-recipe-overlay">
      <app-new-recipe [recipe]="{name: '', duration: 0, nbPeople: 0, rating: 0, ingredients: [], description: '', season: []}"
      (closeNewRecipe)="showNewRecipe = false"
      (confirmNewRecipe)="saveNewRecipe($event)"></app-new-recipe>
    </div>
    <ng-container *ngFor="let recipe of filteredRecipes">
        <app-recipe
          [recipe]="recipe">
        </app-recipe>
    </ng-container>
  </div>


</div>
