<div class="ingredients-section">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th (click)="sortBy('name')">
            Nom
            <span [class]="getSortClass('name')"></span>
          </th>
          <th (click)="sortBy('type')">
            Type
            <span [class]="getSortClass('type')"></span>
          </th>
          <th (click)="sortBy('recipeCount')">
            Nombre recettes
            <span [class]="getSortClass('recipeCount')"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of sortedIngredients; let i = index"
        (mouseover)="hoveredRow = i"
        (mouseleave)="hoveredRow = -1"
        >
          <td>
            <span *ngIf="editedIngredientId !== ingredient.id || editedField !== 'name'" (click)="editRow(ingredient.id, 'name')">{{ ingredient.name }}</span>
            <input *ngIf="editedIngredientId === ingredient.id && editedField === 'name'" [(ngModel)]="ingredient.name" (blur)="saveEdit()"/>
          </td>
          <td>
            <span *ngIf="editedIngredientId !== ingredient.id || editedField != 'type'" (click)="editRow(ingredient.id, 'type')" class="type-pill" [ngStyle]="{ 'background-color': getBackgroundColor(ingredient.type) }" [ngClass]="ingredient.type">{{ getTranslation(ingredient.type) }}</span>
            <select *ngIf="editedIngredientId === ingredient.id && editedField === 'type'" [(ngModel)]="ingredient.type" (blur)="saveEdit()">            
            <option *ngFor="let type of ingredientTypes" [value]="type">{{ type }}</option>
            </select>
          </td>
          <td>{{ ingredient.recipeCount }}
            <i class="fa fa-trash delete-icon" *ngIf="hoveredRow === i" (click)="deleteIngredient(ingredient.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Formulaire d'ajout -->
  <div class="add-ingredient-form">
    <input
      type="text"
      placeholder="Nom de l'ingrédient"
      [(ngModel)]="newIngredient.name"
    />
    <select [(ngModel)]="newIngredient.type">
      <option *ngFor="let type of ingredientTypes" [value]="type">
        {{ getTranslation(type) }}
      </option>
    </select>
    <button class="add-button" (click)="addIngredient()">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>

   <!-- Popup de confirmation -->
   <div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <p>
        L'ingrédient <strong>{{ ingredientToDelete?.name }}</strong> est utilisé dans
        {{ ingredientToDelete?.recipeCount }} recettes. Voulez-vous vraiment le supprimer ?
      </p>
      <button (click)="confirmDelete()">Confirmer</button>
      <button (click)="cancelDelete()">Annuler</button>
    </div>
  </div>
</div>
