<div class="ingredient-header">
  <h4>Ingrédients</h4>
  <div class="sort-dropdown-container" (click)="$event.stopPropagation()">
    <i class="fa fa-sort sort-icon" (click)="toggleSortDropdown($event)"></i>
    <div class="sort-dropdown" *ngIf="showSortDropdown">
      <div
        class="sort-option"
        [class.active]="sortOption === 'name'"
        (click)="sortOption !== 'name' ? setSort('name') : setSort('none')"
      >
        Nom
      </div>
      <div
        class="sort-option"
        [class.active]="sortOption === 'type'"
        (click)="sortOption !== 'type' ? setSort('type') : setSort('none')"
      >
        Type
      </div>
    </div>
  </div>
</div>



<div class="ingredients-list">
  <div class="ingredient-item" *ngFor="let ingredient of sortedIngredients()">
        <span>
            {{ ingredient.name }} ({{ ingredient.quantity }}{{ getTranslation(ingredient.unit) ? ' ' + getTranslation(ingredient.unit) : '' }})
          </span>
      
          <!-- La pastille de type -->
          <span
          class="ingredient-badge"
          [ngStyle]="{ 'background-color': getColor(ingredient.type) }"
          [title]="ingredient.type"
          ></span>

          <span
            class="fa fa-trash delete-icon"
            *ngIf="editingMode"
            (click)="removeIngredient(ingredient.ingredientId)"
            title="Supprimer"
          ></span>
    </div>
</div>
<div class="ingredient-form" *ngIf="editingMode">
    <!-- Champ de recherche -->
    <div class="form-group full-width">
      <label for="ingredient-search">Ajouter un ingrédient</label>
      <input
        id="ingredient-search"
        type="text"
        [(ngModel)]="searchTerm"
        (input)="searchIngredients()"
        (keydown)="onKeyDown($event)"
        placeholder="Rechercher un ingrédient..."
        autocomplete="off"
      />
      <!-- Suggestions -->
      <ul *ngIf="filteredIngredients.length" class="suggestion-list">
        <li *ngFor="let suggestion of filteredIngredients; let i = index"
            [class.selected]="i === selectedIndex"
            (click)="selectIngredient(suggestion)">
          {{ suggestion.name }}
        </li>
      </ul>
    </div>

    <!-- Quantité -->
    <div class="form-group">
      <label for="quantity">Quantité</label>
      <input
        id="quantity"
        type="number"
        min="0"
        [(ngModel)]="quantity"
      />
    </div>

    <!-- Unité -->
    <div class="form-group">
      <label for="unit">Unité</label>
      <select [(ngModel)]="unit">
        <option *ngFor="let unit of unitEntries" [value]="unit">
          {{ getTranslation(unit) }}
        </option>
      </select>
    </div>


    <!-- Boutons -->
    <div class="form-buttons">
      <button type="button" class="add-button" (click)="addIngredient()" [disabled]="!canAddIngredient()">Ajouter</button>
      <button type="button" class="secondary" (click)="clearIngredientForm()">Effacer</button>
    </div>
  </div>